// Vendor Prefixes
//
// - Transformations
// - User Select



// CSS3 Content Columns
content-columns(column-count, column-gap, grid-gutter-width)
  -webkit-column-count column-count
  -moz-column-count column-count
  column-count column-count
  -webkit-column-gap column-gap
  -moz-column-gap column-gap
  column-gap column-gap




// Transformations
t-scale(x, y = 0)
  transform (y == 0) ? scale(x) : scale(x, y)

t-scaleX(ratio)
  transform scaleX(ratio)

t-scaleY(ratio)
  transform scaleY(ratio)

t-skew(x, y = 0)
  transform y == 0 ? skew(x) : skew(x, y)

t-skewX(angle)
  transform skewX(angle)

t-skewY(angle)
  transform skewY(angle)

t-translate(x, y = 0)
  transform y ? translate(x, y) : translate(x)

t-translateX(value)
  transform translateX(angle)

t-translateY(value)
  transform translateY(angle)


t-translate3d(x, y, z)
  transform translate3d(x, y, z)

t-rotate(degrees)
  transform rotate(degrees)

t-rotateX(degrees)
  transform rotateX(degrees)

t-rotateY(degrees)
  transform rotateY(degrees)


// User select
// For selecting text on the page

user-select(select)
  -webkit-user-select select
  -moz-user-select select
  -ms-user-select select // IE10+
  user-select select