// require Nib


border-top-radius(n)
  border-radius top left n, top right n

border-bottom-radius(n)
  border-radius bottom left n, bottom right n

border-left-radius(n)
  border-radius top left n, bottom left n

border-right-radius(n)
  border-radius top right n, bottom right n