#beta-header
  height 100px

  .logo
    margin-top 23px
    display inline-block
    size($logo-width, 50px)
    float left
    background url(http://cdn.sstatic.net/stackoverflow/img/sprites.png?v=3c6263c3453b) no-repeat 0 0

  ul
    @extend .list-unstyled
    margin-bottom 0
    margin-top 45px

  li
    display inline-block
    margin-left 5px

    a
      color #ffffff
      display block
      padding 6px 15px
      text-decoration none
      background-color $gray-light
      line-height 1
      letter-spacing 1px
      transition background, 0.15s, ease

      &:hover
        background-color $mainnav-current-background

  li.delimiter
    width 200px
  li.active
    a
      background-color $mainnav-current-background


#sub-header
  margin-bottom 15px

  a
    border-radius 0
    transition background, 0.15s, ease

  li.active a
    border-top 2px solid #f90