
.label-tag
  display inline-block
  padding 3px 4px
  margin 2px 2px 0
  font-size-small()
  color #3e6d8e
  font-weight normal
  line-height 1.4
  text-align left
  background-color #e0eaf1
  border-right 1px solid #b3cee1
  border-bottom 1px solid #b3cee1
  white-space nowrap
  border-radius(0)

  a&:hover
  a&:focus
    color #3e6d8e
    background-color #c4dae9
    border-bottom 1px solid #c4dae9
    border-right 1px solid #c4dae9;
    text-decoration none