
.beta-wrapper
  width 100%
  height 100%

#beta-content
  padding 10px 0

.beta-mainbar
  margin-right ($sidebar-width + $content-sidebar-spacing-width)
  overflow(hidden)

.beta-sidebar
  float right
  width $sidebar-width