
$topbar-height = 36px
$input-search-width = 180px

$logo-width = 250px
$mainnav-current-background = #f90

$sidebar-width = 300px
$content-sidebar-spacing-width = 30px
$stats-container-width = 78px

serif-font()
  font-family $font-family-serif

font-size-small()
  font-size $font-size-small

font-size-middle()
  font-size $font-size-middle

font-size-large()
  font-size $font-size-large





.gravatar32
  size(32px)
  overflow hidden
