
$topbar-height = 36px
$input-search-width = 180px

$logo-width = 250px
$mainnav-current-background = #f90

$sidebar-width = 300px
$content-sidebar-spacing-width = 30px
$stats-container-width = 78px

chinese-font()
  font-family $font-family-sans-serif-chinese

serif-font()
  font-family $font-family-serif

font-size-small()
  font-size $font-size-small

font-size-middle()
  font-size $font-size-middle

font-size-large()
  font-size $font-size-large


.bg-icons
  background-image url(http://cdn.sstatic.net/stackoverflow/img/sprites.png?v=3c6263c3453b)
  background-repeat no-repeat

