
$container-width = 1050px
$sidebar-width = 300px
$content-sidebar-spacing-width = 20px
$stats-container-width = 85px

body
  font $font-size-base/$line-height-base $font-family-base

a
  color $text-color
  text-decoration none
  cursor pointer
  &:hover
    text-decoration underline
    color $link-color


.fleft
  float left !important

.fright
  float right !important


numeral-font()
  font-family Arial,Liberation Sans,DejaVu Sans,"sans-serif"

.gravatar32
  size(32px)
  overflow hidden