.questions
  margin-top -10px

.question-item
  border-bottom 1px solid #eaeaea
  overflow hidden
  padding 10px 0

.tagged-ignored
  opacity(.5)

.question-stats
  float left
  width $stats-container-width
  font-size-small()



.post-stats
  background #EEEEEE
  padding 4px 7px 6px 7px
  margin 0 15px 7px 0

  strong
    display block
    serif-font()

  .votes
  .answers
    padding 0 0 7px 0
    text-align center
    color #555555
    line-height 1
  .votes
    strong
      font-size ($font-size-large + 6px)
      font-weight normal
      color #808185

  .answers
  .unanswered
    color #9a4444

  .answers
    padding 4px 0
    strong
      font-size-large()
  .answered, .done
    background #75845c
  .unanswered
    color #9a4444
  .answered
    color #e1e818
    font-weight normal
  .done
    color #e1e818


.post-views
  text-align center
  color #999
  margin-top 4px
  margin-right 15px
  overflow(hidden)
  views-extra-class()


.question-summary
  h3
    font-size 120%
    margin 0 0 10px

  .post-tags
    float left

.post-excerpt
  margin-bottom 5px
.post-tags
.post-userinfo
  line-height 18px
  font-size 12px

.post-tags
  margin-bottom 10px

.post-userinfo
  float right
  color #888
  width 200px
  line-height 18px
  white-space nowrap
  overflow hidden
  img
    vertical-align baseline
  .action-time
    serif-font()
    margin 2px 0
  .gravatar
    display block
  .detail
    margin-left 40px
    span
      serif-font()

  &.owner
    padding 2px 5px 3px
    background-color #e0eaf1