@import 'stylus/betaboot'
@import 'basic'

@import 'page'


@import 'layout'
@import 'topbar'
@import 'header'
@import 'sidebar'

@import 'question-list'


@import 'footer'

.test
  size(500px, 500px)
  gradient-striped(rgba(255,0,0,1))
  opacity(.5)
  transition height .35s ease

.icon-test
  background #563d7c
  color white

  @import 'footer'